body {
    background-color: #fff;
}

/* Style for the project grid container */
.project-grid .project-item {
    position: relative; 
    display: block;
    overflow: hidden; 
    text-decoration: none; 
}

/* Style for the images inside the project items */
.project-grid .project-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: grayscale(100%); 
    transition: all 0.5s ease-in-out; 
}

/* Hover effect for the images */
.project-grid .project-item:hover img {
    filter: grayscale(0%); 
    transform: scale(1.05); /*zoom effect*/
}

/* Style for the text overlay */
.project-grid .project-item .project-title {
    position: absolute; 
    top: 25px;
    left: 25px;
    right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
}

/* Styling for the main title and category text */
.project-grid .project-item .project-title h5 {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1rem;
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
}

/* Hover effect for the main title */
.project-grid .project-item:hover .project-title h5 {
    opacity: 1;
}

/* Styling for the category text */
.project-grid .project-item .project-title span {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ff6600;
    filter: grayscale(80%);
    transition: filter 0.5s ease-in-out;
}

/* Hover effect for the category text */
.project-grid .project-item:hover .project-title span {
    filter: grayscale(0%);
}